.message.error, .message.alert {
    background-color: var(--message-alert-background-color);
    color: var(--message-alert-font-color);
    text-align: center;
    font-size: 12px;
}

.message.success, .message.info {
    background-color: var(--message-info-background-color);
    color: var(--message-info-font-color);
    text-align: center;
    font-size: 12px;
}

.message span {
    font-size: 18px;
}

.message time {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline
}