.table-list {
    width: 100%;
}

.table-list thead tr > *,
.table-list tfoot tr > * {
    padding: 10px 20px;
    background-color: var(--primary-color);
    font-weight: bold;
    color: #ffffff;
}
.table-list thead tr > * a,
.table-list tfoot tr > * a {
    color: #ffffff;
    cursor: ns-resize;
}
.table-list thead tr > * a:hover,
.table-list tfoot tr > * a:hover {
    text-decoration: none;
}
.table-list thead span,
.table-list tfoot span {
    padding: 0 10px;
    color: #ffffff;
}
.table-list span.icon-sort,
.table-list span.icon-sort {
    color: var(--background-colors-4);
}

.table-list tbody tr > * {
    padding: 6px 20px;
    line-height: 24px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-colors-3);
}
.table-list tbody tr:nth-child(odd) > * {
    background-color: var(--background-colors-1);
}

.table-list a[class*='table-list-'] {
    display: inline-block;
    font-family: "fontello";
    margin: 0 10px;
    /*font-size: 0;*/
    overflow: hidden;
    color: var(--text-font-color-1);
}
.table-list a[class*='table-list-']:hover {
    text-decoration: none;
    color: #000000;
}
.table-list a[class*='table-list-']:first-child {
    margin-left: 0;
}
.table-list a[class*='table-list-']:before {
    font-size: 15px;
}
/*
.table-list-view:before { content: '\e80e'; }
.table-list-edit:before { content: '\e81e'; }
.table-list-delete:before { content: '\e81f'; }
 */

.table-data tr:nth-child(even) {
    background-color: transparent
}

.table-thumb {
    display: block;
    max-height: 24px;
    max-width: 30px;
    margin: 0 auto;
}

.paginator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    white-space: nowrap;
}
.paginator p {
    margin: 10ox 0;
    color: var(--text-font-color-1)
}
.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination li {
    margin: 0;
    padding: 0;
    border: 1px solid var(--border-color);
}
.pagination li + li {
    margin-left: -1px;
}
.pagination a {
    display: block;
    padding: 0 10px;
    line-height: 38px;
    font-weight: bold;
    color: var(--text-font-color-1);
    background-color: var(--background-colors-1)
}
.pagination a:hover {
    text-decoration: none;
    background-color: #d7d7d7
}
.pagination li.disabled a {
    color: #aaaaaa;
    background-color: transparent
}
.pagination li.active a {
    background-color: var(--primary-color-highlight);
    color: white
}

.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.table-header form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}
.table-header form > * {
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    font-size: 11px;
    border: 1px solid #aaa;
}
.table-header form > select {
    margin-right: 10px;
}
.table-header form > button {
    padding: 0 20px;
    border: 0;
    line-height: 20px;
    box-shadow: none;
}

#priority-table { width: calc(100vw - 340px); overflow: hidden; }
body.collapsed #priority-table { width: calc(100vw - 70px); }
#priority-table th,#priority-table td { white-space: nowrap }


.table-data td { font-size: 1.1em; padding: 5px 20px 5px 0 }
.table-data label { font-weight: bold }


.tile-list {
    display: flex;
    justify-content: center;
    margin: 10px -10px;
}
.tile {
    display: flex;
    flex-direction: column;
    flex-basis: 280px;
    background-color: var(--background-colors-1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}
.tile .image {
    width: 100%;
    padding: 20% 0;
    margin: 0 0 20px 0;
}
.tile > * { flex: 0 0 auto; pointer-events: none }
.tile > .image { flex: 1 }
.tile h5 { font-size: 14px; }
.tile ul,.tile li { list-style: none; margin: 0; padding: 0; font-size: 10px; line-height: 16px; }
.tile ul label { font-weight: bold; margin-right: 8px }
.tile:hover {
    border-color: var(--secondary-color);
}

/*
.table-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #c0c0c0;
}
*/

/**profile css****/

/*
.profile {
    padding-top: 50px;
}

.profile .image {
    margin: 20px 30px 20px 0;
    width: 220px;
    height: 220px;
}

.profile h1 {
    margin: 0;
}

.profile-contact {
    margin: 5px 0 0 0;
    display: flex;
    font-size: 14px;
    color: #949494;
}

.profile-contact label {
    font-weight: bold;
    display: inline;
}

.padded-box .profile-contact {
    color: var(--text-color-1);
}

.profile-contact > * {
    margin: 0 10px 0 0;
    padding: 0 0 0 10px;
    border-left: 1px solid var(--text-font-color-1)
}

.profile-contact > *:first-child {
    padding-left: 0;
    border-left: 0
}

.profile .flex-row {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -28px;
}

.advanced-filter {
    display: flex;
    justify-content: right;
    align-content: center
}

.advanced-filter input {
    margin: 0 0 0 5px
}

.attached-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    background-color: #e4e4e4;
}

.attached-link span {
    background-color: var(--primary-color);
    color: white;
    font-size: 32px;
    text-align: center;
    width: 50px;
    line-height: 50px;
}

.attached-link > a {
    font-size: 16px;
    padding: 0 15px;
}

.attached-link > a > div {
    font-size: 10px;
} */
